{% set title="Troop 485 | Merit Badges" %}
{% set basepath="../" %}

{% extends "base.html" %}

{% block main %}
<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">What are <strong>merit</strong> badges?</h2>
                    <hr>
                </div>
                <div class="col-md-12">
                    <p>
                        <img class="img-responsive img-left" src="../img/merit-badges_1.jpg" alt="Merit badges">
                        Merit badge are awards you can earn for completing a set of requirements related to a particular merit badge. There are over 130 merit badges, each related to a different activity or important skill. In order to rank up above first class, you'll need to earn some merit badges, and in order to become an eagle scout, you'll need to complete at least 21 merit badges, 13 specific merit badges that you have to do, and 8 more of your choice.

                        To learn more about merit badges, and the specific merit badges available, you can visit the <a href="https://www.scouting.org/programs/scouts-bsa/advancement-and-awards/merit-badges/">BSA Website</a>.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">How do I get a merit badge?</h2>
                    <hr>
                </div>
                <div class="col-md-12">
                    <p>
                        One way to get merit badges is to attend summer camp. At summer camp, scouts typically work on 4-6 merit badges over one week. However, it's generally not possible to do all merit badges during summer camps. You may not be able to attend summer camp, or you may be doing a very involved merit badge (such as personal fitness or personal management, among others). In these cases, you can do a merit badge with the troop.
                    </p>
                    <p>
                        It's easy to start a merit badge! First, you should try to find some scouts to do the merit badge together with. Typically, merit badges are done in small groups, because it's more fun to share the experience with other scouts, and because of the buddy system. Next, you'll need to get merit badge approval. Here's the process for that:


                    </p>
                    <ol type="1">
                        <li>
                            Research the merit badge, and make sure you know what the requirements are and how much of a commitment this particular merit badge will be.

                        </li>
                        <li>
                            Email our Scoutmaster and schedule a meeting with him, where you will have a short conference with him and a patrol ASM. If the scoutmaster believes you&lsquo;re ready, they will give you their approval and also help you find a counselor.

                        </li>
                        <li>
                            Meet with the counselor and fulfill all the requirements. (And don&lsquo;t forget the buddy system!) That&lsquo;s it!

                        </li>
                    </ol>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


    </div>
{% endblock %} 